*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
@mixin flexproperty (){
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

@mixin commoncode ($para1,$para2,$para3){
    font-size: $para1;
    color: $para2;
    text-decoration:  $para3;
    
}
#click{
    display: none;
}
// navbar
.hero{
    height: 70vh;
    background-image: url(l1.avif);
    background-position: center;
    background-size: cover;

    nav{
        .navbar{
            display: flex;
            height: 70px;
            width: 100%;
            background-color: white;
            justify-content: space-around;
            align-items: center;
            background-color: transparent;
            h1{
                color: white;
            }
            ul{
                display: flex;
                gap: 70px;
                list-style: none;

                li{
                    a{
                        @include commoncode(20px,white ,none );
                    }
                }

            }
            label{
                margin-right: 40px;
                font-size: 27px;
                color: white;
                // display: none;
            }
            a{
                @include commoncode(20px,white ,none );
            }
        }

      .hero-section{
        display: flex ;
        align-items: center;
        justify-content: center;
        margin-top: 120px;
        flex-direction: column;
       .hero-section-containar{
        .cart{
            ul{
                display: flex;
                gap: 30px;

            
            li {
                list-style: none;
                
                a{
                    font-size: 20px;
                    text-decoration: none;
                    color: #FFFFFFB3;
                    display: flex;
                    
                    
                }
            }
        }
        }
        h1{
           @include commoncode(65px,white ,none );
          
        }
        .hero-button{
            padding-left:120px ;
            padding-top: 50px;
            .button{
                height: 40px;
                width: 149px;
                background-color: black;
                transition: all 2s ease-in;
                border-radius: 30px;
                &:hover{
                    background-color: red;
                    transform: rotateX(40deg);
                }

                a{
                    text-decoration: none;
                    color: white;
                    font-size: 20px;
                }


            }
        }
      }
      

      }
      
    }



}
// Login

.login-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    // width: 700px;
    /* height: 500px; */
    /* margin-left: 25%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.login-container h2 {
    margin-bottom: 1rem;
    font-size: 24px;
}
.login-container input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.login-container button {
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
   
}
.sign{
  text-align: end;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 22px;
  }
  .sign a{
    text-decoration: none;
    color:#0056b3 ;
  }
.login-container button:hover {
    background-color: #0056b3;
}


// introduction
.intro{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 300px;
    width: 100%;
    background-color: #b7472a;
    color: #808080;
    
    
    .support{
        padding:0 30px;
       font-size: 20px;
      

        h2{
            color: #ffffff;
           
        }
        p{
            color: #ffffffcc;
            font-size: 18px;
        }
        
    }

    .money {
       padding:0 30px;
       font-size: 20px;
      


        h2  {
            color: #ffffff;
           
         }
         p {
            color: #ffffffcc;
            font-size: 18px;
         }
   
     }

     .delivery {
        padding:0 30px;
        font-size: 20px;
       
 
 
         h2  {
             color: #ffffff;
            
          }
          p {
             color: #ffffffcc;
             font-size: 18px;
          }
    
      }

 }

 .about{
    display: flex;
    justify-content: space-around;
    padding: 96px 0px;
    line-height: 40px;

    h6{
        font-size: 20px;
        color: #b7472a;
    }

    .pic img{
        height: 700px;
        width: 100%;
    }
    .about_intro{
       word-spacing: 8px;
    
    span{
        color: #b7472a;
        font-size: 30px;

    }
    h1{
        font-size: 50px;
    }
    p{
        font-size: 25px;
        
    }
    h3{
        font-size: 30px;
    }
}
 }


//  product
    
.product{
    display: flex;
    justify-content: space-evenly;
    padding: 96px 0px;
    align-items: center;
    text-align: center;

    .brandy{
        
        img{
            height: 150px;
            width: 150px;
            border-radius: 50%;
        }
       
        p{
            font-size: 25px;
        }
    }

   
    
}
.product:hover{
    color: #b7472a;
}

// product 2
.product_second{
    text-align: center;
    h5{
        font-size: 25px;
        color: #b7472a;

    }
    h1{
        font-size: 40px;

    }



    .second_section{
        display: flex;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        margin: 60px 0;

        .Rum{

            img{
                height:350px;
                width:300px ;
            }
            span{
                color: #b7472a;
                
            }
            p{
                font-size: 25px;
            }

        }
    
    }
}

    .checkout-btn {
        
        padding: 10px 20px;
        font-size: 18px;
        color: #fff;
        background-color: #b7472a;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
    }
    



.checkout-btn:hover {
    background-color: #b7472a;
}


// Blogs
.blog{
  margin-top: 96px;
    
   

    .blog_1{
      
        padding: 20px;
        align-items: center;
        text-align: center;
        font-size: 25px;
    }
   
    
    .first_section{
       
            display: flex;
            font-size: 20px;
            justify-content: space-between;
            margin: 40px 40px;
            line-height: 35px;
            

            
                img{
                    width: 300px;
                    height: 400px;
                }
               .button{
                color: #b7472a;
                margin-top: 50px;
               } 
            
        
         
       
}

    

}
// footer

.footer{
    display: flex;
    justify-content: space-around;
  
    padding-top: 96px;
    height: 500px;
    width: 100%;
    
    background-color: #1a1a1a;
    color: #ffffff;
    word-spacing: 3px;

.footer1{
        h2{
            font-size: 25px;
        }
        p{
            font-size: 18px;
        }
        ul{
           
            list-style: none;
        }

        ul a{
            text-decoration: none;
            color: #ffffff;
        }
    }
}

.footer2 p {
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 15px;
    text-align: center;
    font-size: 18px;
}


/* Media Queries */

/* Tablet view */
@media (max-width: 768px) {
    .navbar ul {
    align-items: center;
    
    }
    label{
        
        display: block;
    }
    
    .hero-buttons {
      flex-direction: column;
    }
  
    .about {
      flex-direction: column;
      align-items: center;
    }

    .product, .brandy{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        
    }
  
    .product, .product-second {
      flex-direction: column;
      align-items: center;
      display: grid;
      grid-template-columns: 1fr, 1fr ;
    }
    
    .second_section {
        flex-direction: column;
        align-items: center;
        
        
      
      }
      .cart {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        margin-left: 0%;
      }
      .Rum {
        width: 80%; /* Adjust width for tablets */
        margin-bottom: 20px;
      }
      
      .checkout-btn {
        width: 100%;
      }
      .first_section {
        flex-direction: column;
        align-items: center;
      }

      .hero nav .navbar ul {
        display: flex;
        gap: 20px;
        list-style: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 50px;
        display: none;
    }

    #click:checked ~ .hero nav .navbar ul {
        display: block;
    }
    .login-container{
        margin: 0 ;
    }
      
  
  }
  
  /* Mobile view */
  @media (max-width: 426px) {
   
    

    .navbar ul{
        align-items: center;
          display: none;
        }
    
    
    .hero-buttons .button {
      width: 100%;
      margin-bottom: 10px;
    }
  
    
    .product, .brandy{
        display: grid;
        grid-template-columns: 1fr ;
        
    }
  
    .about {
      flex-direction: column;
      align-items: center;
    }
  
    .pic img {
      width: 100%;
      height: auto;
    }
  
    .footer {
      width: 100%;
      margin: 10px 0;

    }
    .intro .support{
        display: none;
    }
    .intro .money{
        display: none;
    }
    .hero nav .hero-section .hero-section-containar h1 {
        font-size: 45px;
        padding-left: 20px;
    }
  
    .footer1 {
      width: 100%;
      margin-bottom: 20px;
      flex-direction: column;
    }
    .footer3{
        display: none;
    }
    .login-container{
        margin: 0 ;
    }
    tr {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    .table_heading th {
        display: none;
    }
    
  }
